@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');


// Colors
$regular-background-color: rgb(245, 244, 243);
$regular-sub-title-color: rgb(39, 43, 56);
$regular-color: rgb(79, 83, 99);
$regular-accent-color: rgb(61, 197, 156);
$regular-footer-color: rgba(226, 226, 226, 0.836);
$regular-footer-icon-color: rgba(114, 180, 160, 0.89);

$dark-background-color: rgb(39, 43, 56);
$dark-sub-title-color: rgba(255, 255, 255, 0.87);
$dark-color: rgba(224, 224, 224, 0.87);
$dark-accent-color: rgba(76, 255, 201, 0.87);
$dark-footer-color: rgb(26, 31, 46);
$dark-footer-icon-color: rgba(114, 180, 160, 0.89);

// Fonts
$primary-font: 'Roboto', sans-serif;