@import './mixins.scss';

.main_ {
    height: 100vh;

    @include respond(med_desk) {
        flex-direction: column;
        margin-top: 5%;
        overflow: auto;
    }

    &sobre {
        display: flex;
        position: inline;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        color: #eaeaea;

        & p {
            font-size: 2rem;
            line-height: 3rem;
            margin-right: 15rem;

            @include respond(small_tab) {
                font-size: 2rem;
                line-height: 3.7rem;
                margin-left: 5%;
            }

            @include respond(med_desk) {
                font-size: 2.5rem;
                margin-top: 5%;
                margin-right: 3rem;
            }
        }

        @include respond(small_tab) {
            margin-left: 3%;
        }

        @include respond(med_desk) {
            margin-top: 5rem;
            flex-direction: column;
            flex-wrap: wrap;            
        }
    }

    &img_ {
        position: relative;

        @include respond(small_tab) {
            margin-bottom: 5%;
        }

        @include respond(med_desk) {
            margin-left: 10%;
            margin-top: -3%;
        }

        & img {
            display: block;
            cursor: pointer;
            width: 80%;
            filter: drop-shadow( 0rem 0rem 0.5rem #0c0c0c77);
        }

        &square_01 {
            position: absolute;
            width: 80%;
            height: 100%;
            border: .1rem solid #eaeaea;
            transition: .05s ease-in-out;
            left: -2.5rem;
            top: -2.5rem;
            background-color: #94939300;
            opacity: 25%;
        }
        
        &square_02 {
            position: absolute;
            width: 80%;
            height: 100%;
            border: .1rem solid #eaeaea;
            transition: .1s ease-in-out;
            left: -1.5rem;
            top: -1.5rem;
            background-color: #94939300;
            opacity: 65%;
        }
        
        &square_03 {
            position: absolute;
            width: 80%;
            height: 100%;
            border: .1rem solid #eaeaea;
            transition: .15s ease-in-out;
            left: -.5rem;
            top: -.5rem;
            background-color: #94939300;
        }

        &:hover .main_img_square_01 {
            z-index: -1;
            transition: .05s ease-in-out;
            left: .5rem;
            top: .5rem;
            opacity: 100%;
            border-color: #EAC435;
        }
        &:hover .main_img_square_02 {
            z-index: -1;
            transition: .1s ease-in-out;
            left: 1.5rem;
            top: 1.5rem;
            border-color: #EAC435;
        }
        &:hover .main_img_square_03 {
            z-index: -1;
            transition: .15s ease-in-out;
            left: 2.5rem;
            top: 2.5rem;
            opacity: 25%;
            border-color: #EAC435;
        }
    }

    &skills_ {
        display: flex;
        flex-direction: column;
        color: #eaeaea;

        &social {
            display: flex;
            justify-content: flex-end;
            
            gap: 1rem;
    
            font-size: 3rem;
            padding-top: 5rem;
            padding-right: 20%;

            & a {
                color: #eaeaea;
            }

            & a:hover {
                color: #EAC435;
            }

            @include respond(med_desk) {
                font-size: 4.5rem;
                padding-top: 1rem;
                padding-right: 10%;
                padding-bottom: 1.5rem;
            }
        }

        &h1 {
            margin-left: 10rem;
            font-size: 3rem;

            @include respond(small_tab) {
                margin-left: 3rem;
            }
        }

        &icons_ {
            display: flex;    
            justify-content: flex-start;        
            margin-top: 1rem;
            margin-left: 7%;

            @include respond(small_tab) {
                margin-bottom: 2rem;
            }

            @include respond(med_desk) {
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 2%;
            }

            &row_ {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 5rem 3rem 0 0rem;                

                &tech {
                    font-size: 3rem;

                    @include respond(small_tab) {
                        margin-bottom: 5%;
                    }

                    @include respond(med_desk) {
                        font-size: 6rem;
                    }
                }       

                & h1 {
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }
        }   
    }
}