@import './mixins.scss';

.main {
    display: flex;
    position: inline;
    justify-content: space-between;
    align-items: center;

    background-color: #272727;

    padding: 1.3rem;
    border-bottom: .2rem solid #eaeaea;

    @include respond(med_desk) {
        padding: 2rem;
    }

    @include respond(med_desk) {
        padding: .7rem;
    }
}

.sobre,
.projetos,
.linkedin {
    font-size: 1.8rem;
    text-transform: uppercase;
    border: .1rem solid transparent;
    text-decoration: none;
    padding: .3rem 2rem .3rem 2rem;
    cursor: pointer;
    color: #eaeaea;
    font-weight: 300;

    @include respond(small_tab) {
        font-size: 2.5rem;
    }

    @include respond(med_desk) {
        font-size: 1rem;
    }
}

.sobre {
    margin-left: 15%;
    transition: .3s ease-in-out;

    @include respond(med_desk) {
        margin-left: 1%;
    }
}

.projetos {
    margin-right: 40%;
    transition: .3s ease-in-out;

    @include respond(med_desk) {
        margin-right: 5%;
    }
}

.linkedin {
    margin-right: 15%;
    border: .1rem solid #eaeaea;
    transition: .3s ease-in-out;

    @include respond(med_desk) {
        margin-right: 1%;
    }

}

.sobre:hover,
.linkedin:hover,
.projetos:hover {
    //color: #EAC435;
    border: .1rem solid #EAC435;
}